body{
    background-color: #222;
}
iframe{
    height:90vh;
    width: 900px;
}
.title_place{
    position: absolute;
    right: 20px; 
    top:20px;
    color: white;
}
.title_place h1{
    font-size: 40px;
}

.wrap{
    color: white;
}